<div class="left-wrapper">
  <p class="name">Krishna Bharadwaz</p>
  <p class="role">
    SSE @ <a href="">Sonata Software</a>
  </p>
  <div class="meet-socialize">
    <ul class="list-inline">
      <li><a href=""><i class="fab fa-github fa-lg"></i></a></li>
      <li><a href=""><i class="fab fa-twitter fa-lg"></i></a></li>
    </ul>
  </div>
  <div class="menu">
      <a routerLink='/home' class="link">Home</a>
      <a routerLink='/experience' class="link">Experience</a>
      <a routerLink='/projects' class="link">Projects</a>
  </div>
</div>